@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap");

:root {
  --text-color: #434343;
  --bg-color: #a02279;
  --text-family: "Red Rose", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* MEDIA QUERRIES */
@media screen and (max-width: 1450px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 825px) {
  html {
    font-size: 60%;
  }
}
